.ddMenu {
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-size: 0.875rem;
  /* box-sizing: border-box; */
  /* padding: 6px; */
  /* margin: 12px 0; */
  width: 198px;
  border-radius: 5px;
  overflow: auto;
  outline: 0px;
  background-color: #ffffff;
  border: 1px solid #79cf9c;
  color: #1c2025;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.ddMenuItem {

  list-style: none;
  letter-spacing: 1.2px;
  padding: 8px;
  font-size: 1rem;

  cursor: default;
  user-select: none;

  &:last-of-type {
    border-bottom: none;
  }

  &:focus {
    outline: 3px solid #99f3b4;
    background-color: rgb(160, 235, 143);
    color: black;
  }

}
.ddMenuBtn {
  width: 200px;

  font-weight: 500;
  font-size: 1rem;

  line-height: 1.5;
  letter-spacing: 1.2px;
  padding: 8px 16px;
  border-radius: 5px;
  color: black;
  transition: all 150ms ease;
  cursor: pointer;
  background: #fff;
  border: 1px solid rgb(160, 235, 143);
  color: #1c2025;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  &:hover {
    background-color: rgb(160, 235, 143);
    border-color: rgb(160, 235, 143);
    color: black;
  }

  &:active {
    background-color: rgb(160, 235, 143);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px #99ccf3;
    outline: none;
  }
}
