.pageInnWrp {
  /* align-items: center; */
  padding: 2rem 1rem;
  width: 100%;
}
.sectionWrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.contentWrp {
  padding-top: 1rem;
}
.oneChunkWrp {
  margin-bottom: 1.5rem;
}
.pokemonImg {
  width: 150px;
}
