.pageInnWrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
.pikachuImg {
  width: 100px;
}
.gameWrp {
  display: flex;
}
.gameBlockMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  /* padding: 2rem; */
}

.imgPokemonInGame {
  width: 100px;
}
